:root {
	--primary: #f87060;
	--dark: #102542;
	--white: #f4faff;
}

body {
	padding-inline: 5%;
	font-family: "Poppins", serif;
	color: var(--dark);
	font-weight: 300;
    background-color: var(--white);
}

.soon{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Head Content */
.headContent{
    display: grid;
    grid-template-columns: repeat(6,minmax(0,1fr));
    grid-template-rows: repeat(1,minmax(0,1fr));
    row-gap: 20px;
    column-gap: 50px;
	margin-top: 50px;
}
.headLeft{
    grid-column: span 6/span 6;
    display: flex;
    align-items: center;
}
.headRight{
    display: none;
}
.hc-small {
	margin-bottom: 20px;
}

.hc-hero {
	font-size: 35px;
	text-transform: capitalize;
    line-height: 50px;
    margin: 0 !important;
}

.headImg{
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 900px) {
    .headLeft, .headRight{
        grid-column: span 3/span 3;
        display: flex;
        align-items: center;
    }
	.hc-hero {
        font-size: 35px;
        line-height: 60px;
    }
}

@media only screen and (min-width: 1116px) {
	.hc-hero {
        font-size: 50px;
        line-height: 70px;
    }
}

/* End Head Content */

/* Our Programmer */
.ourProgrammer{
    margin: 60px 0;
}
.programmerTitle{
	text-align: center;
	font-weight: 700;
	margin: 50px 0 40px ;
}

.cardPhoto {
	text-align: center;
}

.listProgrammer {
	list-style: none;
	padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px !important;
}
.imgProgrammer {
	width: 150px;
	height: 150px;
	object-fit: cover;
    border-radius: 100%;
}
.programmerName {
    font-size: 18px;
	font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
}
.miniText{
    font-size: 13px;
}
@media only screen and (min-width: 880px) {
	.listProgrammer {
        flex-direction: row;
        margin-bottom: 0px;
    }
}
/* End Our Programmer */

/* Footer */
.footer {
	text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
/* End Footer */