:root {
	--primary: #f87060;
	--dark: #102542;
	--white: #f4faff;
}

body {
	padding-inline: 5%;
	font-family: "Poppins", serif;
	color: var(--dark);
	font-weight: 300;
    background-color: var(--white);
}

.soon{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Head Content */
.headContent{
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-template-rows: repeat(1,minmax(0,1fr));
    row-gap: 20px;
    column-gap: 50px;
	margin-top: 50px;
}
.headLeft, .headRight{
    grid-column: span 6/span 6;
}
.headCenter{
    display: flex;
    align-items: center;
}
.hc-small {
	margin-bottom: 20px;
}

.hc-hero {
	font-size: 50px;
	text-transform: capitalize;
    line-height: 70px;
}

.headImg{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 650px) {
	.hc-hero {
		font-size: 52px;
	}
}

@media only screen and (max-width: 540px) {
	.hc-hero {
		font-size: 38px;
	}
}
/* End Head Content */

.newspaper {
    column-count: 3;
  }